﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.ProductModel

@{
    ViewData["Title"] = "Product Add Data";
}

<form asp-controller="Product" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupplierId">Supplier</label>
        <select type="text" asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier">
            <option selected>Select the Supplier</option>
        </select> 
        <span asp-validation-for="SupplierId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select type="text" asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
            <option selected>Select the Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitInStock">Unit In Stock</label>
        <input asp-for="UnitInStock" class="form-control" />
        <span asp-validation-for="UnitInStock" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnitInOrder">Unit In Order</label>
        <input asp-for="UnitInOrder" class="form-control" />
        <span asp-validation-for="UnitInOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel">Reorder Level</label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Discontinued" class="form-check-input" type="checkbox" value="True" id="flexCheckDefault">
        <label asp-for="Discontinued" class="form-check-label" for="flexCheckDefault">Discontinued</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
