﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model POS.ViewModel.Response.ProductDetailResponse

@{
    ViewData["Title"] = "Product Detail";
}

<h2>Product Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <th>Supplier Name</th>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <th>Contact Supplier</th>
            <td>@Model.ContactName</td>
        </tr>
        <tr>
            <th>Title Contact Supplier</th>
            <td>@Model.ContactTitle</td>
        </tr>
        <tr>
            <th>Phone Contact Supplier</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>HomePage Supplier</th>
            <td>@Model.HomePage</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.CategoryName</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>@Model.Quantity</td>
        </tr>
        <tr>
            <th>Unit Price</th>
            <td>@Model.UnitPrice</td>
        </tr>
        <tr>
            <th>Unit In Stock</th>
            <td>@Model.UnitInStock</td>
        </tr>
        <tr>
            <th>Unit In Order</th>
            <td>@Model.UnitInOrder</td>
        </tr>
        <tr>
            <th>Reorder Level</th>
            <td>@Model.ReorderLevel</td>
        </tr>
        <tr>
            <th>Discontinued</th>
            <td>@Model.Discontinued</td>
        </tr>

    </tbody>
</table>
<a asp-action="Index" class="btn btn-sm btn-success">Back</a>
