﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<POS.ViewModel.Response.ProductResponse>
@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}
<h2>Products</h2>
<div class="pt-2 pb-2">
    <a asp-action="Add" class="btn btn-primary" role="button" id="btn-add">Tambah Product</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Unit In Stock</th>
            <th>Unit In Order</th>
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th>Action</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.CompanyName</td>
                <td>@item.CategoryName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitInStock</td>
                <td>@item.UnitInOrder</td>
                <td>@item.ReorderLevel</td>
                <td>@item.Discontinued</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="add-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Product/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data){
                    $("#add-modal").find(".modal-body").html(data);
                    $("#add-modal").modal("show");
                }
            });
        });
    </script>
}