﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model POS.ViewModel.CategoryModel

@{
    ViewData["Title"] = "Category Detail";
}

<h2>Category Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Category Name</th>
            <td>@Model.CategoryName</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>
<a asp-action="Index" class="btn btn-sm btn-success">Back</a>
