﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.EmployeeModel

@{
    ViewBag.Title = "Add New Employee Data";
    Layout = "_Layout";
}

<h2>Employee Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Title of Courtesy</th>
            <td>@Model.TitleOfCourtesy</td>
        </tr>
        <tr>
            <th>BirthDate</th>
            <td>@Model.BirthDate</td>
        </tr>
        <tr>
            <th>HireDate</th>
            <td>@Model.HireDate</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th>Region</th>
            <td>@Model.Region</td>
        </tr>
        <tr>
            <th>Postal Code</th>
            <td>@Model.PostalCode</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <th>Home Phone</th>
            <td>@Model.HomePhone</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>@Model.Notes</td>
        </tr>
        <tr>
            <th>Report To</th>
            <td>@Model.ReportTo</td>
        </tr>
    </tbody>
</table>
<a asp-action="Index" class="btn btn-sm btn-success">Back</a>
