﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.EmployeeModel
@{
    ViewBag.Title = "Add New Employee Data";
    Layout = "_Layout";
}
<h2>Form Edit Employee</h2>
<form asp-controller="Employee" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <select asp-for="Title" class="form-select">
            <option selected>Please Select One</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
            <option value="None">None</option>
        </select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TitleOfCourtesy">Title of Courtesy</label>
        <select asp-for="TitleOfCourtesy" class="form-select">
            <option selected>Please Select One</option>
            <option value="None">None</option>
            <option value="Duke">Duke</option>
            <option value="Marquess">Marquess</option>
            <option value="Earl">Earl</option>
            <option value="Viscount">Viscount</option>
            <option value="Baron">Baron</option>
            <option value="Duchess">Duchess</option>
            <option value="Marchioness">Marchioness</option>
            <option value="Countess">Countess</option>
            <option value="Viscountess">Viscountess</option>
            <option value="Baroness">Baroness</option>
            <option value="Lord">Lord</option>
            <option value="Lady">Lady</option>
        </select>
        <span asp-validation-for="TitleOfCourtesy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">Birth Date</label>
        <input asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HireDate">Hire Date</label>
        <input asp-for="HireDate" class="form-control" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Region">Region</label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country">Country</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HomePhone">Home Phone</label>
        <input asp-for="HomePhone" class="form-control" />
        <span asp-validation-for="HomePhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReportTo">ReportTo</label>
        <input asp-for="ReportTo" class="form-control" />
        <span asp-validation-for="ReportTo" class="text-danger"></span>
    </div>

    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-sm btn-success">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
