﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.OrderModel
@{
    ViewBag.Title = "Order Detail";
    Layout = "_Layout";
}

<h2>Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Customer ID</th>
            <td>@Model.CustomerId</td>
        </tr>
        <tr>
            <th>Employee ID</th>
            <td>@Model.EmployeeId</td>
        </tr>
        <tr>
            <th>Order Date</th>
            <td>@Model.OrderDate</td>
        </tr>
        <tr>
            <th>Required Date</th>
            <td>@Model.RequiredDate</td>
        </tr>
        <tr>
            <th>Shipped Date</th>
            <td>@Model.ShippedDate</td>
        </tr>
        <tr>
            <th>Ship Via</th>
            <td>@Model.ShipperId</td>
        </tr>
        <tr>
            <th>Freight</th>
            <td>@Model.Freight</td>
        </tr>
        <tr>
            <th>Ship Name</th>
            <td>@Model.ShipName</td>
        </tr>
        <tr>
            <th>Ship Address</th>
            <td>@Model.ShipAddress</td>
        </tr>
        <tr>
            <th>Ship City</th>
            <td>@Model.ShipCity</td>
        </tr>
        <tr>
            <th>Ship Region</th>
            <td>@Model.ShipRegion</td>
        </tr>
        <tr>
            <th>Ship Postal Code</th>
            <td>@Model.ShipPostalCode</td>
        </tr>
        <tr>
            <th>Ship Country</th>
            <td>@Model.ShipCountry</td>
        </tr>

    </tbody>
</table>
<h4>Order Detail </h4>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Discount</td>
            </tr>
        }
    </tbody>

</table>
<a asp-action="Index" class="btn btn-sm btn-success">Back</a>