﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.ShipperModel
@{
    ViewBag.Title = "Shippers Detail";
    Layout = "_Layout";
}
<h2>Shipper Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Model.Phone</td>
        </tr>
    </tbody>
</table>
<a asp-action="Index" class="btn btn-sm btn-success">back</a>
