﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.ShipperModel
@{
    ViewBag.Title = "Edit Shippers";
    Layout = "_Layout";
}

<h2>Form Edit Category</h2>
<form asp-controller="Shipper" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="CompanyName">Company Name</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <textarea asp-for="Phone" class="form-control"></textarea>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-sm btn-success">Back</a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
